/*====================================
*            General Page            *
====================================*/

body{
	background: #000000;
	overflow: scroll;
}

p{
	font-family: 'Josefin Slab';
}

.container{
	margin: 0;
	border:0;
	padding: 0;
}


/*=====  End of General Page  ======*/

/*==============================
*            Banner            *
==============================*/

header .jumbotron-fluid{
	background:url('../images/coverphoto.png') center center no-repeat;
	text-align: center;
	background-size:100% 100%;
	margin-bottom: 0;
}

header .jumbotron-fluid h1{
	font-family: 'Special Elite';
	font-size: 10rem;
	text-shadow: 0 0 3px #FFFFFF, 0 0 5px #FFFFFF;
	color:#000000;
}

/*=====  End of Banner  ======*/

/*====================================
*            Picture Rows            *
====================================*/

.year-row img{
	
}

/*=====  End of Picture Rows  ======*/


/*===================================
*            Media Query            *
===================================*/

@media only all and (max-width: 1040px) {
header .jumbotron-fluid  h1 {
    font-size:4rem;
  }
}


/*=====  End of Media Query  ======*/


